{% extends "base.html" %}

{% block app_content %}
	<h1>{{ _('Страница не найдена') }}</h1>
	<p>{{ _('Администратор был уведомлен о проблеме. Извините за неудобства!') }}</p>
	<p><a href="{{ url_for('main.index') }}">{{ _('Назад') }}</a></p>
{% endblock %}