{% extends 'bootstrap/base.html' %}

{% block title %}
	{% if title %}{{ title }} - {{ _('Блог') }}{% else %}{{ _('Добро пожаловать в Блог') }}{% endif %}
{% endblock %}

{% block navbar %}
	<nav class = "navbar navbar-default">
		<div class = "container">
			<div class = "navbar-header">
				<button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse" data-target = "#bs-example-navbar-collapse-1" aria-expanded = "false">
					<span class = "sr-only">Toggle navigation</span>
					<span class = "iconbar"></span>
					<span class = "iconbar"></span>
					<span class = "iconbar"></span>
				</button>
				<a class = "navbar-brand" href = "{{ url_for('main.index') }}">{{ _('Блог') }}</a>
			</div>
			<div class = "collapse navbar-collapse" id = "#bs-example-navbar-collapse-1">
				<ul class = "nav navbar-nav">
					<li><a href = "{{ url_for('main.index') }}">{{ _('Домой') }}</a></li>
					<li><a href = "{{ url_for('main.explore') }}">{{ _('Проводник') }}</a></li>
					{% if g.search_form %}
						<form class = "navbar-form navbar-left" method = "get" action = "{{ url_for ('main.search') }}">
							<div class = "form-group">
								{{ g.search_form.q(size = 20, class = 'form-control', placeholder = g.search_form.q.label.text) }}
							</div>
						</form>
					{% endif %}
				</ul>
				{% if g.search_from %}
					<form class = "navbar-form navbar-left" method = "get" action = "{{ url_for ('main.search') }}">
						<div class = "form-group">
							{{ g.search_form.q(size = 20, class = 'form-control', placeholder = g.search_form.q.label.text) }}
						</div>
					</form>
				{% endif %}
				<ul class = "nav navbar-nav navbar-right">
					{% if current_user.is_anonymous %}
						<li><a href = "{{ url_for('auth.login') }}">{{ _('Логин') }}</a></li>
					{% else %}
						<li>
							<a href = "{{ url_for('main.messages') }}">
								{{ _('Сообщения') }}
								{% set new_messages = current_user.new_messages() %}
							<span id = "message_count" class = "badge" style = "visibility: {% if new_messages %} visible {% else %} hidden {% endif %};">{{ new_messages }}</span>
							</a>
						</li>
						<li><a href = "{{ url_for('main.user', username = current_user.username) }}">{{ _('Профиль') }}</a></li>
						<li><a href = "{{ url_for('auth.logout') }}">{{ _('Выход') }}</a></li>
					{% endif%}
				</ul>
			</div>
		</div>
	</nav>
{% endblock %}
	
{% block content %}
	<div class = "container">
		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<div class "alert alert-info" role = "alert">{{ message }}</div>
				{% endfor %}
			{% endif %}
		{% endwith %}
		{% block app_content %}{% endblock %}
	</div>
{% endblock %}

{% block scripts %}
	{{ super() }}
	{{ moment.include_jquery() }}
	{{ moment.include_moment() }}
	{{ moment.lang(g.locale) }}
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script>
		function translate(sourceElement, destElement, sourceLang, destLang) {
			$(destElement).html('<img src = "{{ url_for('static', filename = 'loading.gif') }}">');
			$.post('/translate', {
				text: $(sourceElement).text(),
				source_language: sourceLang,
				dest_language: destLang
			}).done(function(response) {
				$(destElement).text(response['text'])
			}).fail(function() {
				$(destElement).text("{{ _('Ошибка: нет соединения с сервером') }}");
			});
		}
		$(function() {
			var timer = null;
			var xhr = null;
			$('.user_popup').hover(
				function(event) {
					var elem = $(event.currentTarget);
					timer = setTimeout(function () {
						timer = null
						xhr = $.ajax(
							'/user/' + elem.first().text().trim() + '/popup').done(
								function(data) {
									xhr = null;
									elem.popover({
										trigger: 'manual',
										container: elem,
										content: data
									}).popover('show');
									var poPage = document.getElementsByClassName('popover-content')[0];
									poPage.innerHTML = data;
									$(poPage.parentElement.firstChild).css("top", "10%");
									flask_moment_render_all();
								}
							);
					}, 600);
				},
				function(event) {
					var elem = $(event.currentTarget);
					if (timer) {
						clearTimeout(timer);
						timer = null;
					}
					else if (xhr) {
						xhr.abort();
						xhr = null;
					}
					else {
						elem.popover('destroy');
					}
				}
			)
		});
		function set_message_count(n) {
			$('#message_count').text(n);
			$('#message_count').css('visibility', n > 0 ? 'visible' : 'hidden');
		}
		{% if current_user.is_authenticated %}
			$(function() {
				var since = 0;
				var max_count = 0;
				setInterval(function() {
					$.ajax("{{ url_for('main.notifications') }}?since=" + since).done(
						function(notifications) {
							if (notifications.length == 0)
								since = 0
							else {
								for (var i = 0; i < notifications.length; i++) {
									if (notifications[i].name == 'unread_message_count')
										set_message_count(notifications[i].data)
									console.log(notifications[i].data)
									since = notifications[i].timestamp
								}
							}
						}
					);
				}, 10000);
			});
		{% endif %}
	</script>
{% endblock %}