{% extends "base.html" %}

{% block app_content%}
	<h1>{{ _('Привет, %(username)s!', username = current_user.username) }}</h1>
	{% for post in posts%}
		{% include '_post.html' %}
	{% endfor %}
	<nav aria-label = "...">
		<ul class = "pager">
			<li class = "previos{% if not prev_url %} disabled {% endif %}">
				<a href = "{{ prev_url or '#' }}">
					<span aria-hidden = "true">&larr;</span> {{ _('Свежие посты') }}
				</a>
			</li>
			<li class = "next{% if not next_url %} disabled {% endif %}">
				<a href = "{{ next_url or '#' }}">
					{{ _('Старые посты') }} <span aria-hidden = "true">&rarr;</span>
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}