{% extends 'base.html' %}

{% block app_content %}
    <h1>{{ _('Сообщения') }}</h1>
    {% for post in messages %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label = "...">
        <ul class = "pager">
            <li class = "previous{% if not prev_url %} disabled {% endif %}" style = "display: inline-flex;">
                <a href = " {{prev_url or '#' }}"><span aria-hidden = "true">&larr;</span>{{ _('Новые Сообщения') }}</a>
            </li>
            <li class = "next{% if not next_url %} disabled {% endif %}">
                <a href = " {{next_url or '#' }}">{{ _('Старые Сообщения') }}<span aria-hidden = "true">&rarr;</span></a>
            </li>
        </ul>
    </nav>
{% endblock %}