{% extends 'base.html' %}

{% block app_content %}
    <h1> {{ _('Результаты поиска') }}</h1>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label = "...">
        <ul class = "pager">
            <li class = "previous{% if not pref_url %} disabled {% endif %}">
                <a href = "{{ prev_url or '#' }}">
                    <span aria-hidden = "true">&larr;</span>
                    {{ _('Предыдущие результаты') }}
                </a>
            </li>
            <li class = "next{% if not next_url %} disabled {% endif %}">
                <a href = "{{ next_url or '#' }}">
                    {{ _('Следующие результаты') }}
                    <span aria-hidden = "true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}