<table class = "table">
    <tr>
        <td width = "64" style = "border: 0px;"><img src = "{{ user.avatar(64) }}"></td>
        <td style = "border: 0px;">
            <p><a href = "{{ url_for ('main.user', username = user.username) }}">{{ user.username }}</a></p>
            <small>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>{{ _('Был в системе') }}: {{ moment(user.last_seen).calendar() }}</p>{% endif %}
                <p>{{ _('%(count)d подписчики', count = user.followers.count()) }}, {{ _('%(count)d подписан', count = user.followed.count()) }}</p>
				{% if user != current_user %}
                    {% if not current_user.is_following(user) %}
                        <p><a href="{{ url_for('main.follow', username = user.username) }}">{{ _('Подписаться') }}</a></p>
                    {% else %}
                        <p><a href="{{ url_for('main.unfollow', username = user.username)}}" >{{ _('Отписаться') }}</a></p>
                    {% endif %}
                {% endif %}
            </small>
        </td>
    </tr>
</table>