{% extends 'base.html' %}

{% block app_content %}
	<table class = "table teble-hover">
		<tr>
			<td width = "256px"><img src="{{ user.avatar(256) }}"></td>
			<td>
				<h1>{{ _('Пользователь: %(username)s', username = user.username) }}</h1>
				{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
				{% if user.last_seen %}<p>{{ _('Был в системе') }}: {{ moment(user.last_seen).calendar() }}</p>{% endif %}
				<p>{{ _('%(count)d подписчики', count = user.followers.count()) }}, {{ _('%(count)d подписан', count = user.followed.count()) }}</p>
				{% if user == current_user %}
					<p><a href="{{ url_for('main.edit_profile') }}">{{ _('Изменить свой профиль') }}</a></p>
				{% elif not current_user.is_following(user) %}
					<p><a href="{{ url_for('main.follow', username = user.username) }}">{{ _('Подписаться') }}</a></p>
				{% else %}
					<p><a href="{{ url_for('main.unfollow', username = user.username)}}" >{{ _('Отписаться') }}</a></p>
				{% endif %}
				{% if current_user != user %}
					<p><a href = "{{ url_for('main.send_message', recipient = user.username) }}">{{ _('Отправить приватное сообщение') }}</a></p>
				{% endif %}
			</td>
		</tr>
	</table>
	{% for post in posts %}
		{% include '_post.html' %}
	{% endfor %}
	<nav aria-label = "...">
		<ul class = "pager">
			<li class = "previos{% if not prev_url %} disabled {% endif %}">
				<a href = "{{ prev_url or '#' }}">
					<span aria-hidden = "true">&larr;</span> {{ _('Свежие посты') }}
				</a>
			</li>
			<li class = "next{% if not next_url %} disabled {% endif %}">
				<a href = "{{ next_url or '#' }}">
					{{ _('Старые посты') }} <span aria-hidden = "true">&rarr;</span>
				</a>
			</li>
		</ul>
	</nav>
{% endblock %}